/* Write the CSS for you answer here */

#container {
    position: absolute;
    width: 600px;
    margin: auto;
    background-color: goldenrod;
    z-index: 0;
}

.full-size {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
}

#tree {
    top: 100px;
    z-index: 5;
}

.balls {
    position: relative;
    z-index: 6;
}
/* balls are below */
#blue {
    left: 500px;
    top: 320px;
    z-index: 2;
}
#darkblue {
    left: 40px;
    top: 250px;
}
#green {
    left: 100px;
    top: 190px;
}
#pink {
    left: 100px;
    top: 150px;
}
#red {
    left: 200px;
    top: 200px;
}
#orange {
    left: 200px;
    top: 220px;
}